:root {
	--grey: rgb(56, 55, 55);
	--lightGrey: rgba(255, 255, 255, 0.735);
	--green: rgb(28, 130, 28);
	--body: rgba(0, 0, 0, 0.886);
}

@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Schibsted+Grotesk&display=swap");
/* font-family: 'Anuphan', sans-serif; -- digits
font-family: 'Schibsted Grotesk', sans-serif; --texts */

* {
	box-sizing: border-box;
	font-family: "Schibsted Grotesk", sans-serif;
	margin: 0;
	border: 0;
}

body {
	height: 100vh;
	background-color: var(--body);
}

footer {
	background-color: var(--grey);
}

#grid-container {
	display: grid;
	height: 100vh;

	grid-template-columns: auto;
	grid-template-rows: 1fr 1fr 15fr 1fr;
}

/* ----------------------header------------------------------ */

header {
	background-color: var(--grey);
}

#header-flex {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	padding-top: 20px;
	border: 1px solid black;
	border-top: none;
}
.joined,
.flex-left,
.buttonsLeft {
	display: flex;
	align-items: center;
	gap: 5px;
}

.joined {
	flex-wrap: wrap;
	gap: 30px;
}

.buttonsLeft {
	gap: 15px;
}

#profileIcon {
	display: none;
	width: 35px;
	height: 35px;
}

#logo {
	width: 35px;
	height: 35px;
	padding: 5px;
}

h4,
h3 {
	color: rgb(255, 255, 255);
	font-family: "Schibsted Grotesk", sans-serif;
	letter-spacing: 1.2px;
}

h4 {
	font-size: smaller;
}

a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.799);
}

a:hover {
	text-decoration: underline;
	color: orange;
}

.navButton {
	width: clamp(100px, 15vw, 150px);
	height: 30px;
	border-radius: 15px;
	font-size: 0.9rem;
	font-weight: 600;
	color: rgb(0, 0, 0);
	border: 1px solid rgba(0, 0, 0, 0.461);
	background-color: grey;
}

.navButton:hover,
#addHoldingButton:hover,
.modifyButton:hover,
.editButtons:hover,
.btn:hover,
#closed:hover {
	border: 1px solid orange;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.495);
	color: rgba(255, 255, 255, 0.799);
	scale: 1.01;
	transition: 0.5s;
}

.active {
	border: 1px solid orange;
	cursor: pointer;
	background-color: #222531;
	color: rgba(255, 255, 255, 0.799);
	scale: 1.05;
	transition: 0.5s;
}

/* -----------------scroller------------ */
.coin-marquee-wrapper {
	width: 100vw;
}

.coin-marquee-container {
	width: auto;
}

.coin-marquee-container__inner {
	animation-duration: 100s !important;
}
/* ------------------- */

/* -----------------------main------------------- */

main {
	overflow-x: hidden;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: minmax(250px, 20vw) minmax(600px, 1fr);
}

#news {
	height: 100%;
}

#market {
	display: none;
}
.portfolioSide {
	display: flex;
	flex-direction: column;
	padding: 35px;
	width: 80%;
}
.mainTop {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 20px;
}

.topLeftSide {
	display: flex;
	align-items: center;
	justify-content: center;
}

#trendAmount,
#trendingTriangle {
	align-self: flex-end;
	padding-bottom: 10px;
	font-size: clamp(0.5rem, 4vw, 0.8rem);
}
#totalValue {
	color: rgba(255, 255, 255, 0.735);
	font-size: clamp(1rem, 8vw, 3rem);
	padding-right: 10px;
}

#addHoldingButton {
	width: 30px;
	height: 30px;
	font-size: 1rem;
	font-weight: 600;
	border-radius: 20px;
	background-color: orange;
	margin-bottom: 50px;
}

/* --------------------holdings cards---------- */
.holdingCard {
	align-items: end;
	display: grid;
	grid-template-columns: 0.35fr 1.5fr 1fr 1fr 1fr 0.5fr;
	background-color: var(--grey);
	border-bottom: grey 1px solid;
	gap: 5px;
	padding: 3px;
}

.heading {
	font-size: 0.8rem;
	opacity: 75%;
	padding: 1px;

	margin-bottom: 10px;
}

.value {
	font-weight: bold;
}

.value,
.amount,
.price {
	color: var(--lightGrey);
}

.holdingLogo {
	height: 45px;
	padding: 5px;
}

.loss {
	color: rgba(247, 75, 75, 0.498);
}

.profit {
	color: rgb(107, 192, 107);
}

#leftHand {
	display: block;
	border-right: 1px solid #222531;
}

/* -----------------Market Table-------------------- */

#market {
	display: flex;
	justify-content: center;
}

#marketTable {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px;
	width: 80%;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	color: rgba(255, 255, 255, 0.799);
	padding: 10px;
	font-size: 0.5rem;
	text-align: inherit;
}

td {
	font-size: 0.8rem;
	/* padding-left: 5px;
	padding-right: 5px; */
	padding: 10px;
	color: rgba(255, 255, 255, 0.799);
}

.cellLogo {
	width: 30px;
	height: 30px;
}

.coin {
	display: flex;
	align-items: center;
	gap: 7px;
}

.coinItem {
	border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.coinItem:hover {
	cursor: pointer;
	background-color: grey;
}
/* ------------------------------------------- */

/* --------------------------------------------- */
@media only screen and (max-width: 666px) {
	.joined,
	.buttonsLeft {
		gap: 5px;
	}
}

@media only screen and (max-width: 855px) {
	main {
		grid-template-columns: 1fr;
		display: block;
	}

	#navRight {
		display: none;
	}
	#profileIcon {
		display: block;
	}

	#header-flex {
		padding-top: 10px;
	}

	.flex-left {
		margin-right: 160px;
	}
	.value,
	.amount,
	.price,
	.profit {
		font-size: 0.65rem;
		margin-bottom: 5px;
	}

	.symbol {
		font-size: 0.85rem;
		margin-top: 5px;
	}

	.portfolioSide {
		padding: 0;
		border: none;
		width: 100%;
		border-right: 1px solid #222531;
	}
	.mainTop {
		padding: 10px;
	}

	.holdingCard {
		border-radius: 0px;
	}

	#leftHand {
		display: none;
	}

	#market {
		display: block;
		justify-content: start;
	}

	#marketTable {
		display: flex;
		justify-content: start;
		padding: 0px;
		width: auto;
	}

	td {
		padding: 6px;
	}

	.thVolume,
	.thPriceGraph,
	.tableVolume,
	.tableGraph {
		display: none;
	}
}
.form-container {
	display: flex;
	width: 350px;
	height: 350px;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	gap: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: var(--lSand);
	padding: 15px;
	border-radius: 5px;
	border: 2px solid rgb(8, 12, 7);
	background-size: cover;
	background-color: rgb(40, 39, 39);
	box-shadow: 5px 5px 15px 5px #000000;
}

#form {
	position: fixed; /* Sit on top of the page content */
	display: flex; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.85); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

#closed {
	position: relative;
	top: -8px;
	left: 297px;
	right: 0;
	bottom: 0px;
	height: 25px;
	border: 1px solid black;
	border-radius: 0px;
	padding-top: 2px;
	font-weight: 600;
	border-radius: 20px;
	background-color: orange;
	scale: 1;
	width: 25px;
}

label {
	color: white;
	font-size: 0.9rem;
}

.input {
	display: flex;
	justify-content: space-between;
	padding: 10px;
	padding-right: 0px;
	padding-left: 0px;
	border-bottom: 1px solid rgb(70, 69, 69);

	align-items: center;
}

.input-style {
	width: 135px;
	background-color: rgb(40, 39, 39);
	color: white;
}

.dropdown {
	position: relative;
	display: inline-block;
	justify-self: center;
	align-self: center;
}

.btn {
	cursor: pointer;
	border-radius: 5px;
	width: 200px;
	height: 35px;
	margin-top: 30px;
	align-self: center;
	background-color: orange;
}

.dropdown-content {
	position: absolute;
	top: 100%;
	right: 0px;
	min-width: 120px;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #373737;
}

.dropdown-content a {
	color: #333;
	padding: 8px 16px;
	display: block;
	text-decoration: none;
}

.dropdown:hover .dropdown-content {
	display: flex;
	transition: 0.5s;
	flex-direction: column;
	border: 1px solid orange;
}

.modifyButton {
	background-color: #373737;
	border-radius: 10px;
	border: 1px solid #ffffff21;
	color: #ffffff21;
	width: 30px;
	height: 30px;
}

.modifyButton:hover {
	border: 1px solid orange;
	border-radius: 0px;
}

.editButtons {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	background-color: #373737;
}

.heading {
	display: none;
}

.visible {
	display: inline;
	font-size: 0.85rem;
	margin-bottom: 5px;
}

/* -------------------------radio------------ */

.radio {
	background: #454857;
	padding: 4px;
	border-radius: 3px;
	box-shadow: inset 0 0 0 3px rgba(35, 33, 45, 0.3),
		0 0 0 3px rgba(185, 185, 185, 0.3);
	position: relative;
}

.radio input {
	width: auto;
	height: 100%;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	cursor: pointer;
	border-radius: 2px;
	padding: 4px 8px;
	background: #454857;
	color: #bdbdbdbd;
	font-size: 14px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	transition: all 100ms linear;
}

.radio input:checked {
	background-image: linear-gradient(180deg, #95d891, #74bbad);
	color: #fff;
	box-shadow: 0 1px 1px #0000002e;
	text-shadow: 0 1px 0px #79485f7a;
}

.radio input:before {
	content: attr(label);
	display: inline-block;
	text-align: center;
	width: 100%;
}
/* --------------------------------------------- */
