:root {
	--grey: rgb(56, 55, 55);
	--body: rgba(0, 0, 0, 0.886);
}

@import url("https://fonts.googleapis.com/css2?family=Anuphan&family=Schibsted+Grotesk&display=swap");
/* font-family: 'Anuphan', sans-serif; -- digits
font-family: 'Schibsted Grotesk', sans-serif; --texts */

* {
	box-sizing: border-box;
	font-family: "Schibsted Grotesk", sans-serif;
	margin: 0;
	border: 0;
}

body {
	height: 100vh;
	background-color: var(--body);
}

footer {
	background-color: var(--grey);
}

#grid-container {
	display: grid;
	height: 100vh;

	grid-template-columns: auto;
	grid-template-rows: 1fr 15fr 1fr;
}

/* ----------------------header------------------------------ */

header {
	background-color: var(--grey);
}

#header-flex {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	padding-top: 20px;
}
.joined,
.flex-left,
.buttonsLeft {
	display: flex;
	align-items: center;
	gap: 5px;
}

.joined {
	flex-wrap: wrap;
	gap: 30px;
}

.buttonsLeft {
	gap: 15px;
}

#logo {
	width: 35px;
	height: 35px;
	padding: 5px;
}

h4,
h3 {
	color: rgb(255, 255, 255);
	font-family: "Schibsted Grotesk", sans-serif;
	letter-spacing: 1.2px;
}

.navButton {
	width: clamp(100px, 15vw, 150px);
	height: 30px;
	border-radius: 15px;
	font-size: 0.9rem;
	font-weight: 600;
	color: rgb(255, 255, 255);
	border: 1px solid rgba(0, 0, 0, 0.461);
	background-color: grey;
}

.navButton:hover {
	border: 1px solid orange;
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.495);
	scale: 1.01;
	transition: 0.5s;
}

@media only screen and (max-width: 666px) {
	.joined,
	.buttonsLeft {
		gap: 5px;
	}
}
